<html>
    <head>
    {% if title %}
    <title>{{ title }} - gestion de ficheros</title>
    {% else %}
    <title>Welcome</title>
    {% endif %}
    </head>
    <body>
        <div>
            Registro:
            <a href="/index.html">Home</a>
            <a href="/login.html">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>